fastapi
uvicorn
python-multipart

sqlalchemy
asyncpg
alembic

python-jose
passlib
bcrypt

fastapi-mail

google-genai

pypdf
pdfplumber

regex
redis

pydantic
email-validator
python-dotenv

loguru
tenacity

python-docx

spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl